.main {
  width: full;
  height: 100vh;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.options {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
}
.option {
  width: 40%;
  height: 40px;
  border: 2px solid black;
  margin: 4px;
  border-radius: 4px;
  padding: 2px;
}
