body {
  margin: 0;
  padding: 0;
}
.main {
  width: full;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: aqua;
  width: 600px;
  height: 400px;
  padding: 5px;
  display: flex;
  flex-direction: column-reverse;
}

.buttons {
  border: 2px solid white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.backGround {
  width: full;
  height: 100%;
  border: 2px solid white;
  margin-bottom: 1px;
}

.button {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  border: 1px solid white;
  margin: 2px;
}
.yellow {
  background-color: yellow;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
