.body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
  box-shadow: 5px 1px 10px black;
}
.photo-show {
  display: flex;
  height: 400px;
  width: 400px;
  justify-content: center;
  align-items: center;
}
